services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5

  airflow-webserver:
    build:
      context: ../
      dockerfile: airflow/Dockerfile
    shm_size: '1gb'
    depends_on: # Só inicia se o postgres estiver 'healthy' (saudável)
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__WEBSERVER__SECRET_KEY: "fajdoijgodi349h"
    volumes:
      - ./dags:/opt/airflow/dags
      - ../:/opt/project
    ports:
      - "8080:8080"
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create --username admin --password admin --firstname admin --lastname admin --role Admin --email rodrigo.faustino.116@ufrn.br || true &&
      airflow webserver
      "

  airflow-scheduler:
    build:
      context: ../
      dockerfile: airflow/Dockerfile
    shm_size: '1gb'
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__WEBSERVER__SECRET_KEY: "fajdoijgodi349h"
    volumes:
      - ./dags:/opt/airflow/dags
      - ../:/opt/project
    command: >
      bash -c "
      airflow scheduler
      "

volumes:
  pg_data: